<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation,class:"btn btn-secondary" %>
<%= link_to 'Show', @reservation,class:"btn btn-secondary" %> 
<%= link_to 'Back', reservations_path,class:"btn btn-secondary" %>
